[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = Sister repository for Bookstore
[access "refs/*"]
	owner = group user/Dohvakin (Yash-Kaveeshwar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dohvakin (Yash-Kaveeshwar)
	label-Verified = -1..+1 group user/Dohvakin (Yash-Kaveeshwar)
	push = group user/Dohvakin (Yash-Kaveeshwar)
	read = group user/Dohvakin (Yash-Kaveeshwar)
	rebase = group user/Dohvakin (Yash-Kaveeshwar)
	removeReviewer = group user/Dohvakin (Yash-Kaveeshwar)
	submit = group user/Dohvakin (Yash-Kaveeshwar)
[access "refs/heads/*"]
	create = group user/Dohvakin (Yash-Kaveeshwar)
	push = +force group user/Dohvakin (Yash-Kaveeshwar)
	pushMerge = group user/Dohvakin (Yash-Kaveeshwar)
	read = group user/Dohvakin (Yash-Kaveeshwar)
[access "refs/tags/*"]
	push = group user/Dohvakin (Yash-Kaveeshwar)
	push = +force group user/Dohvakin (Yash-Kaveeshwar)
